asgiref==3.7.2
beautifulsoup4==4.12.2
contourpy==1.2.1
cycler==0.12.1
distlib==0.3.7
dj-database-url==3.1.0
Django==4.2.5
django-3-jet==1.0.8
django-bootstrap-v5==1.0.11
django-widget-tweaks==1.5.0
filelock==3.12.4
fonttools==4.51.0
gunicorn==25.0.3
kiwisolver==1.4.5
matplotlib==3.8.4
mysql-connector-python==9.0.0
mysqlclient==2.2.0
numpy==1.26.4
packaging==24.0
Pillow==10.0.1
platformdirs==3.10.0
psycopg2-binary==2.9.11
pygame==2.5.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
tzdata==2023.3
virtualenv==20.24.5
whitenoise==6.5.0
