{% load static %}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript">
        var user = '{{request.user}}'
     </script>
    <title>Male-Fashion Website</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="./signin.html">SIGN IN</a>
                <a href="./login.html">LOGIN</a>
            </div>
           
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="{% static 'img/icon/search.png' %}" alt=""></a>
            <a href="./profile.html"><img src="{% static user.customer.profile_img.url %}" alt="" style="height: 30px;width: 30px; border-radius: 50px; background-size: cover;"></a>
            <a href="./shopping-cart.html"><img src="{% static 'img/icon/cart.png' %}" alt=""> </a>
           
        </div>
        <div id="mobile-menu-wrap"></div>
        
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>Hello {{user.username}}</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                {% if user.is_authenticated %}
                                
                                <a href="/logout">LOGOUT</a>
                                {% else %}
                                <a href="./signin.html">SIGN IN</a>
                                <a href="./login.html">LOGIN</a>
                                {% endif %}
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        {% for Logo in Logo %}
                        <a href=" ./index.html"><img src="{% static  Logo.logo_1.url %}" alt=""></a>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="active"><a href="./index.html">Home</a></li>
                            <li><a href="./shop.html">Shop</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                   
                                    <li><a href="./shopping-cart.html">Shopping Cart</a></li>
                                    <li><a href="./checkout.html">Check Out</a></li>
                                    <li><a href="./blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="./about.html ">About Us</a></li>
                            <li><a href="./contact.html">Contacts</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="#" class="search-switch"><img src="{% static 'img/icon/search.png' %}" alt=""></a>
                        <a href="./profile.html"><img src="{% static 'img/profile/default1.png' %}" alt=""></a>
                        <a href="./shopping-cart.html"><img src="{% static 'img/icon/cart.png' %}" alt=""> <span></span></a>
                        
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="hero__slider owl-carousel">
            {% for Index_collection in Index_collection %}
            <div class="hero__items set-bg" data-setbg="{% static Index_collection.image_1.url %}">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                <h6>{{Index_collection.name}}</h6>
                                <h2>{{Index_collection.title}}</h2>
                                <p>{{Index_collection.description}}</p>
                                <a href="./shop.html" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                                <div class="hero__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__items set-bg" data-setbg="{% static Index_collection.image_2.url %}">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                <h6>{{Index_collection.name}}</h6>
                                <h2>{{Index_collection.title}}</h2>
                                <p>{{Index_collection.description}}</p>
                                <a href="./shop.html" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                                <div class="hero__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Banner Section Begin -->
    <section class="banner spad">
        <div class="container">
            <div class="row">
                {% for Category in Category %}
                <div class="col-lg-7 offset-lg-4">
                    <div class="banner__item">
                        <div class="banner__item__pic">
                            <img src="{% static Category.image.url %}" alt="">
                        </div>
                        <div class="banner__item__text">
                            <h2>{{ Category.name }}</h2>
                            <a href="./shop.html">Shop now</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% for Category_1 in Category_1 %}
                <div class="col-lg-5">
                    <div class="banner__item banner__item--middle">
                        <div class="banner__item__pic">
                            <img src="{% static Category_1.image.url %}" alt="">
                        </div>
                        <div class="banner__item__text">
                            <h2>{{Category_1.name }}</h2>
                            <a href="./shop.html">Shop now</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% for Category_2 in Category_2 %}
                <div class="col-lg-7">
                    <div class="banner__item banner__item--last">
                        <div class="banner__item__pic">
                            <img src="{% static Category_2.image.url %}" alt="">
                        </div>
                        <div class="banner__item__text">
                            <h2>{{ Category_2.name}}</h2>
                            <a href="./shop.html">Shop now</a>
                        </div>
                    </div>
                    
                </div>
                {% endfor %}
            </div>
        </div>
        
    </section>
    <!-- Banner Section End -->

    <!-- Product Section Begin -->
   
    <!-- Product Section End -->

    <!-- Categories Section Begin -->
    <section class="categories spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="categories__text">
                        {% for Category in Category %}
                        <h2>{{ Category.name }} <br />
                            {% endfor %} 
                            {% for Category_1 in Category_1 %}
                            <span>{{ Category_1.name }}</span> <br />
                            {% endfor %}
                            {% for Category_2 in Category_2 %}
                            {{Category_2.name}}</h2>
                            {% endfor %}
                    </div>
                </div>
                <div class="col-lg-4">
                    {% for Sale_of in Sale_of %}
                    <div class="categories__hot__deal">
                        <img src="{% static Sale_of.image.url %}" alt="">
                        <div class="hot__deal__sticker">
                            <span>Sale Of</span>
                            <h5>{{Sale_of.price}}</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-1">
                    <div class="categories__deal__countdown">
                        <span>{{Sale_of.title}}</span>
                        <h2>{{Sale_of.name}}</h2>
                        <div class="categories__deal__countdown__timer" id="countdown">
                            <div class="cd-item">
                                <span></span>
                                <p>Days</p>
                            </div>
                            <div class="cd-item">
                                <span></span>
                                <p>Hours</p>
                            </div>
                            <div class="cd-item">
                                <span></span>
                                <p>Minutes</p>
                            </div>
                            <div class="cd-item">
                                <span></span>
                                <p>Seconds</p>
                            </div>
                        </div>
                        <a href="./shop.html" class="primary-btn">Shop</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->

    <!-- Instagram Section Begin -->
    <section class="instagram spad">
        <div class="container">
            <div class="row">
                {% for Instagram in Instagram %}
                        <div class="col-lg-8">
                        <div class="instagram__pic">
                        <div class="instagram__pic__item set-bg" data-setbg="{% static Instagram.image_1.url %}"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="{% static Instagram.image_2.url %}"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="{% static Instagram.image_3.url %}"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="{% static Instagram.image_4.url %}"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="{% static Instagram.image_5.url %}"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="{% static Instagram.image_6.url %}"></div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="instagram__text">
                        <h2>{{Instagram.name}}</h2>
                        <p>{{Instagram.description}}</p>
                        <h3>#Male_Fashion</h3>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Instagram Section End -->

    <!-- Latest Blog Section Begin -->
    <section class="latest spad">
        <div class="container">
            <div class="row">
                {% for Latest_news in Latest_news %}
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>{{Latest_news.name}}</span>
                        <h2>{{Latest_news.title}}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="{% static Latest_news.image_1.url %}"></div>
                        <div class="blog__item__text">
                            <span><img src="{% static 'img/icon/calendar.png' %}" alt=""> {{Latest_news.date_1}}</span>
                            <h5>{{Latest_news.description_1}}</h5>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="{% static Latest_news.image_2.url %}"></div>
                        <div class="blog__item__text">
                            <span><img src="{% static 'img/icon/calendar.png' %}" alt=""> {{Latest_news.date_2}}</span>
                            <h5>{{Latest_news.description_2}}</h5>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="{% static Latest_news.image_3.url %}"></div>
                        <div class="blog__item__text">
                            <span><img src="{% static 'img/icon/calendar.png' %}" alt=""> {{Latest_news.date_3}}</span>
                            <h5>{{Latest_news.description_3}}</h5>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Latest Blog Section End -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form"  action="{% url 'search' %}">
                {% csrf_token %}
                <input type="text" id="search-input" placeholder="Search products here....." name="q">
                <button class="btn btn-outline-secondary" type="submit">Search </button>
            </form>
        </div>
    </div>
    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            {% for Logo in Logo %}
                            <a href="#"><img src="{% static Logo.logo_2.url %}" alt=""></a>
                            {% endfor %}
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        {% for Logo in Logo %}
                        <a href="#"><img src="{% static Logo.logo_3.url %}" alt=""></a>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="./shop.html">Clothing Store</a></li>
                            <li><a href="./shop.html">Trending Shoes</a></li>
                            <li><a href="./shop.html">Accessories</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="./contact.html">Contact Us</a></li>
                            <li><a href="./checkout_view.html">Delivary</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#" method="POST">
                                {% csrf_token %}
                                <input type="email" placeholder="Your email" name="email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>2020
                            All rights reserved <i class="fa fa-heart-o"
                            aria-hidden="true"></i><a href="https://colorlib.com" target="_blank"></a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
   
    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form"  action="{% url 'search' %}">
                {% csrf_token %}
                <input type="text" id="search-input" placeholder="Search products here....." name="q">
                <button class="btn btn-outline-secondary" type="submit">Search </button>
            </form>
            
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/mixitup.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>
